@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Smythe', cursive;
}

body{
    max-width: 450px ;
    margin: auto;
    background: rgb(236, 236, 236);
    position: relative;
}
main, header{
    background-color: white;
    height: 100vh;
}
header{
    background-color: black;
    height: 150px;
    color: white;
    background-image: url(images/sk-CK6tjAIMJWM-unsplash.jpg);
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: -40px -40px;
}
.header{
    position: absolute;
    top: 40px;
    right: 30px;
    font-size: 24px;
    text-shadow: 2px 2px 2px lightgrey;
}
main{
    padding: 10px;
}
.item{
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px; */
    border-bottom: 1px solid lightgrey;
    /* padding: 10px; */
}
.food{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.add_symbol{
    width: 35px;
    height: 35px;
    color: lightgrey;
    margin: 5px;
}
.description-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 20px;
}
.description-price h3{
    font-weight: 100;
}
.food-calorie h5{
    font-weight: 100;
    color: lightgrey;
}
.food-calorie{
    display: flex;
    flex-direction: column;
}